.div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.date-btn {
  margin: 1.2rem;
  min-width: 8%;
  border-radius: 20;
  display: inline;
  font-weight: 750;
  color: black;
}

.navbar a.active {
  color: blue;
  font-family: Brush Script MT, cursive;
}
.navlink {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  text-decoration: none;
  color: black;
}
.navlink:hover {
  color: blue;
}
